.title-information {
	
	text-size-adjust: auto; //for mobile

	font-family: 'Montserrat', sans-serif;
	color: white;

	text-align: center;	
	font-size: 20px; //fall-back value
	font-size: 2vw;  //visual width
	font-size: 3vh; //visual height
}


.title-information ul {

	list-style-type: none;
}


.title-navbar {

	text-size-adjust: auto;

	font-family: 'Montserrat', sans-serif;
	color: white;

	text-align: center;	
	font-size: 20px; //fall-back value
	font-size: 2vw;  //visual width
	font-size: 3vh; //visual height
	//padding: 20%;consider me
}


.title-navbar li {
	display: inline;
	padding: 2%;
}


.title-navbar a:link, a:visited, a:active {

	color: white;
}


.title-navbar a:hover {

	color: #cc0000; //purple-ish orange
}


.picture-personal {
	border-color: black;
	border-width: 2px;
	border-style: solid;
	border-radius: 100%; //can also be denoted in px
}



.information-container-column {

	display: flex;
	flex-direction: column;
}



.information-container-row {

	display: flex;
	flex-direction: row;
}


/*
.information-container-main{

	margin: 1%;
	background-color: #e6e6e6;
	border-radius: 10px;
}
*/

.header-background {
	background-color: #141439; //gray background
	margin: -2%;
	padding: 2%;
	border-radius: 8px;
}

.content-background {
 	
 	background-image: linear-gradient(to right,#991f00, #b32400); //orange background 
}
